{% extends 'base.html.twig' %}

{% block title %}Recherche des films{% endblock %}
{% block titleC %}Recherche des films{% endblock %}
{% block forms %}

{% endblock %}
{% block content %}
    {{ parent() }}
{% endblock %}
{% block panel %}
    {% if app.session is not null and app.session.started %}
        {% for label, messages in app.session.flashbag.all %}
            {% for message in messages %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}
    <div class="panel panel-default">
        <div class="panel-body">
            <form class="form" action="{{ path('film_search') }}" method="post">
                <label for="titre">Titre:</label>
                <input type="text" class="form-control" name="titre">
                <label for="categorie">Ctégorie:</label>
                <select name="categorie" class="form-control">
                    <option value="">(aucun)</option>
                    <option>1</option>
                    <option>2</option>
                </select>
                <label for="datecreat">Date d'ajout:</label>
                <input type="date" name="datecreat" class="form-control">
                <input type="submit" value="Rechercher" class="btn btn-primary btn-right">
            </form>
        </div>
    </div>
    <table class="table">
        <thead>
        <th>id</th>
        <th>Titre</th>
        <th>Description</th>
        <th>Photo</th>
        <th></th>
        </thead>
        <tbody>
        {% for film in films %}
            <tr>
                <td>{{ film.id }}</td>
                <td>{{ film.titre }}</td>
                <td>{{ film.description }}</td>
                <td><img src="{{ asset('uploads/photos/')~film.photo }}" class="photo img-responsive"
                         alt="Responsive image"></td>
                <td>
                    <a href="{{ path('film_show',{'id':film.id}) }}"><span class="glyphicon glyphicon-eye-open
"></span></a>
                    <a href="{{ path('film_edit',{'id':film.id}) }}"><span
                                class="glyphicon glyphicon-pencil"></span></a>
                    <a href="{{ path('film_delete',{'id':film.id}) }}"><span class="glyphicon glyphicon-remove
"></span></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block scripts %}
    <script>
        $('#bs-navbar-collapse-1 .nav li').each(function (index) {
            $(this).removeClass('active')
        })
        $('#bs-navbar-collapse-1 .nav li').eq(2).addClass('active');
    </script>
{% endblock %}


